@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
    @apply bg-gray-100;
  }
  body {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
  .dev-container {
    @apply flex justify-center items-center  m-0 p-0 flex-col py-2;
  }
  .dev-grid {
    @apply w-11/12 lg:w-3/4 grid-cols-1 gap-4 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-4;
  }
  .dev-card {
    @apply bg-white shadow-lg mx-auto rounded-xl p-4;
  }
  .pagination-button {
    @apply py-4 px-4 mx-2 bg-go hover:opacity-90 focus:opacity-90 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg;
  }

  .pagination-button:disabled,
  .pagination-button[disabled] {
    opacity: 0.5;
  }
  .looking-for-jobs {
    @apply border-dashed border-2 border-go;
  }
  .toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68d391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68d391;
  }
}
